services:
  orchestrator_mage:
    container_name: mageai_app
    image: mageai/mageai:latest
    command: mage start spain_news_pipeline
    env_file: 
      - .env
    environment:
      # --- Disable authentication for development purposes ---
      - AUTHENTICATION_MODE='LDAP_OFF' # Options: 'LDAP_OFF', 'OFF', 'LDAP_ON', 'ON' ---
      ## --- Disable mage authentication for development purposes ---
      - DISABLE_MAGE_AUTHENTICATION=true #-- DEPRECATED, use AUTHENTICATION_MODE=OFF ---
      - DISABLE_MAGEAI_AUTHENTICATION=true #-- DEPRECATED, use AUTHENTICATION_MODE=OFF --- 
      # -----------------------------------------------
      # --- Pass project and DuckDB connection details ---
      - PROJECT_NAME=${PROJECT_NAME}
      # -----------------------------------------------
      # --- Pass user code path to Mage ---
      - USER_CODE_PATH=${PWD}/${PROJECT_NAME}
      # -----------------------------------------------
      # --- DuckDB connection details ---
    volumes:
      - ./:/home/src # sync current to container location
    ports:
      - "6789:6789"
  visualization_streamlit:
    container_name: streamlit_container
    image: python:3.9-slim
    working_dir: /app
    command: python -m streamlit run app.py --server.port=8501 --server.address=0.0.0.0
    ports:
      - "8501:8501"



#
#  this docker--compose file runs mage and mounts a shared volume 
#  so both mage and the streamlit can access the same database endpoint
#
#
#
#
#
#
# run docker compose up build --no-cache -d